header{
    height: 120px;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: 'Mulish', sans-serif;
    font-size: 1.15rem;
}

.menu .logo{
    height: 36px;
}

.menu-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    height: 36px;
    align-items: center;
    gap: 40px;
}

.menu-list li a{
    padding: 15px 20px;
    text-shadow: 2px 2px 4px #000;
    transition: all 400ms ease-in-out;
    border-radius: 5px;
}

.menu-list li a:hover{
    background-color: var(--accent-color);
    color: var(--background-black);
}

@media (max-width:800px){
    header{
        height: 70px;
    }

    .menu{
        width: 100%;
        justify-content: center;
    }
    .menu .logo{
        padding-right: 30px;
    }
    
    .menu-list{
        background-color: #1a1a1a;
        height: 100%;
        flex-direction: column;
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        justify-content: center;
        gap: 70px;
        font-size: 2.5rem;
        font-weight: 300;
        display: none;
        animation:open 1s normal ease-in-out;
        animation-name: open;
    }

    .menu-burger-container.show ~ .menu-list{
        display: flex;
        height: 100vh;
        z-index: 99;
    }

    .menu-burger-container.show ~ html{
        max-height: 100vh;
    }

    .menu-burger-container.animation ~ .menu-list{
        display: flex;
        animation-name: openReverse;
    }
}

@keyframes open {
    from{
        height: 0%;
        top: -130px;
        color: transparent;
        gap: 10px;
        border-radius: 0px 0px 100% 100%;
    }
    to{
        height: 100%;
        gap: 70px;
        border-radius: 0 0 0 0;
        color: #f5f5f5;
    }
}

@keyframes openReverse{
    from{
        height: 100%;
        color: #f5f5f5;
        gap: 70px;
        border-radius: 0 0 0 0;
    }
    to{
        height: 0%;
        top: -130px;
        color: transparent;
        gap: 10px;
        border-radius: 0px 0px 100% 100%;
    }
}