main{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.main-content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 5;
    gap: 20px;
}

.title{
    font-family:'Mulish', sans-serif;
    font-size: 8rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    color: #f5f5f5;
    line-height: 4rem;
}

.title span{
    font-weight: lighter;
    font-size: 2.25rem;
}

.subtitle{
    font-family: 'Mulish', sans-serif;
    font-weight: lighter;
    font-style: italic;
    font-size: 47px;
    color: #FF031A;
}

.main-content-container .movie-text{
    font-size: 1.12rem;
    font-family: 'Mulish', sans-serif;
    font-weight: 100;
    max-width: 600px;
    color: #f5f5f5;
}

.button{
    margin-top: 36px;
    padding: 25px 30px;
    border-radius: 10px;
    background-color: #FF031A;
    width: 300px;
    font-family: 'Mulish', sans-serif;
    font-style: italic;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease-in-out;
}

.button:hover{
    background-color: #9c000d;
}

.fa-arrow-right-long{
    font-size:30px;
    padding-left:20px ;
}

.social-container{
    width: 48px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.icons-container{
    border-radius: 50%;
    border: 2px solid #fff;
    width: 100%;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease-in-out;
}

.icons-container:hover{
    border-color: #FF031A;
    background-color: #FF031A;
}

.fa-brands {
    font-size: 24px;
}

@media (max-width: 768px){
    .main-content-container .movie-text{
        display: none;
    }

    .social-container, .icons-container{
    display: none;
    }

    .button{
        width: auto;
        padding: 25px 40px;
        margin: 36px auto 100px auto;
    }

    .title{
        font-size: 4rem;
        line-height: 2.4rem;
    }

    .title span{
        font-size: 1.7rem;
    }
    .subtitle{
        font-size: 1.6rem;
    }

    .main-content-container{
        gap: 30px;
        justify-content: flex-end;
    }
}