main{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.main-content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 5;
    gap: 20px;
}

.title{
    font-family:'Mulish', sans-serif;
    font-size: 8rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    line-height: 4rem;
}

.title span{
    font-weight: lighter;
    font-size: 2.25rem;
}

.subtitle{
    font-family: 'Mulish', sans-serif;
    font-weight: lighter;
    font-style: italic;
    font-size: 47px;
    color: var(--accent-color);
}

.main-content-container .movie-text{
    font-size: 1.12rem;
    font-family: 'Mulish', sans-serif;
    font-weight: 100;
    max-width: 600px;
    color: var(--text-color);
}

.button{
    margin-top: 36px;
    padding: 25px 30px;
    border-radius: 10px;
    background-color: var(--accent-color);
    width: 300px;
    font-family: 'Mulish', sans-serif;
    font-style: italic;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease-in-out;
}

.button:hover{
    background-color: var(--hover-color);
}

.fa-arrow-right-long{
    font-size:30px;
    padding-left:20px ;
}

.social-container{
    width: 48px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.icons-container{
    border-radius: 50%;
    border: 2px solid var(--white-color);
    width: 100%;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease-in-out;
}

.icons-container:hover{
    border-color: var(--accent-color);
    background-color: var(--accent-color);
}

.fa-brands {
    font-size: 24px;
}